
project_id        = "My/proyect/id"
region            = "us-central1"
zone              = "us-central1-a"
credentials_file  = " "
network           = "jenkins-network"
subnetwork        = "jenkins-subnet"
