
project_id       = "jenkins-terraform-demo-472920"
region           = "us-central1"
jenkins_zone     = "us-central1-a"
credentials_file = "C:\\Users\\scarlet.e.silva\\.gcp\\jenkins-terraform-demo-472920-bc8f093d161c.json"
